<template>
  <div>
    <div class="header">
      <div class="header__search">
        <input type="text" v-model="search" placeholder="Search employee">
      </div>
      <div class="header__weekSelector">
        <button @click="week--">Previous week</button>
        <button @click="week++">Next week</button>
      </div>
    </div>
    <div class="weekDays">
      <div class="weekDays__range" v-for="(range, idx) in weeksInfo" :key="idx">
        <div class="weekDays__range__month">{{ monthOfDay(range[0]) }}</div>
        <div class="weekDays__range__days">
          <span
            v-for="day in range"
            :key="day"
            :class="{'weekDays__range__days__day--isToday': day === todayDate}"
            class="weekDays__range__days__day">
            {{ day | formatDate }}
          </span>
        </div>
      </div>
    </div>

    <div class="users-wrapper">
      <div v-for="user in usersPage" :key="user._id" class="users-wrapper__user">
        <span class="users-wrapper__user__name">{{`${user.firstName} ${user.lastName}`}}</span>
        <div v-for="(range, idx) in weeksInfo" :key="idx" class="days-wrapper">
          <span
            v-for="day in range"
            :key="day"
            class="day"
            @mouseover="user.events[day] ? user.events[day].show = true : null"
            @mouseleave="user.events[day] ? user.events[day].show = false : null"
            @click="!user.events[day] ? clickDay(user, day) : null"
            :class="{'day--has-event': user.events[day], 'day--isToday': day === todayDate}">
            <span v-if="user.events[day] && user.events[day].show" class="day__event">
              {{ user.events[day].type }}
            </span>
          </span>
        </div>
      </div>
      <paginator
        :totalItems="totalItems"
        :itemsPerPage="itemsPerPage"
        :selectedPage="page"
        @set-page="ev => page = ev">
      </paginator>
      <div v-if="!usersFiltered.length" class="not-found">
        No users found
      </div>
    </div>

    <modal v-if="showModal"
      @save="saveEvent"
      @close="showModal = false">
      <template #header>
        <h3>{{ eventModal.day }}</h3>
      </template>
      <template #body>
        <label for="event">Event name</label>
        <input type="text" v-model="eventModal.value" id="event">
      </template>
    </modal>
  </div>
</template>

<script>
import data from '../data'
import moment from 'moment'
import { dateRange } from '@/libs/utils'

// Components
import Modal from '@/components/Modal'
import Paginator from '@/components/Paginator'

export default {
  name: 'Employees',
  components: {
    Modal, Paginator
  },
  data () {
    return {
      search: '',
      week: 0,
      users: [],
      data: [],
      eventModal: {
        userId: 0,
        day: '',
        value: ''
      },
      itemsPerPage: 10,
      page: 1,
      showModal: false
    }
  },
  computed: {
    // Deevulve un array con los datos que contienen el criterio de búsqueda
    usersFiltered () {
      return this.users.filter((user) => {
        return (user.firstName.toLowerCase().includes(this.search.toLowerCase()) ||
                user.lastName.toLowerCase().includes(this.search.toLowerCase()))
      })
    },
    // Sobre los usuario filtrados nos quedamos con los que pertenecen a la página seleccionada
    usersPage () {
      let minUserIndex = (this.page - 1) * this.itemsPerPage
      let maxUserIndex = this.page * this.itemsPerPage
      return this.usersFiltered.filter((user, idx) => idx >= minUserIndex && idx <= maxUserIndex)
    },
    // Número de elementos que coinciden con los criterios de búsqueda
    totalItems () {
      return this.usersFiltered.length
    },
    // Rango de días de la semana anterior
    prevWeek () {
      let start = moment().add(this.week - 1, 'weeks').startOf('isoWeek')
      let end = moment().add(this.week - 1, 'weeks').endOf('isoWeek')
      return dateRange(start, end)
    },
    // Rango de días de la semana actual
    currentWeek () {
      let start = moment().add(this.week, 'weeks').startOf('isoWeek')
      let end = moment().add(this.week, 'weeks').endOf('isoWeek')
      return dateRange(start, end)
    },
    // Rango de dáis de la semana siguiente
    nextWeek () {
      let start = moment().add(this.week + 1, 'weeks').startOf('isoWeek')
      let end = moment().add(this.week + 1, 'weeks').endOf('isoWeek')
      return dateRange(start, end)
    },
    // Array con los rangos de los días de la semana para iterarlos en la vista
    weeksInfo () {
      return [
        this.prevWeek,
        this.currentWeek,
        this.nextWeek
      ]
    },
    todayDate () {
      return moment().format('YYYY-MM-DD')
    }
  },
  watch: {
    // Cuando cambiamos el campo de búsqueda seteamos la página a la primera para que muestre los primeros resultados
    search () {
      this.page = 1
    }
  },
  methods: {
    // Iteramos sobre los elementos para en su propieda eventos construir un objeto con clave la fecha y como valor
    // otro objeto con el tipo del evento y la propiedad show para mostrar info cuando hacemos mouseover
    formatUsers () {
      let formattedData = this.data.map(user => {
        let eventsObject = {}
        user.events.forEach(event => {
          let eventRange = dateRange(moment(event.from), moment(event.to))
          eventRange.forEach(date => {
            eventsObject[date] = {
              type: event.type,
              show: false
            }
          })
        })
        return {
          ...user,
          events: eventsObject
        }
      })
      this.users = formattedData
    },
    // Devuelve el mes de la fecha recivida
    monthOfDay (date) {
      return moment(date).format('MMMM')
    },
    // Click en el día
    clickDay (user, day) {
      // Asignamos al objeto para pasarle la info a la modal
      this.eventModal = {
        userId: user._id,
        value: '',
        day
      }
      this.showModal = true
    },
    // Evento de click al guardar evento el la modal
    saveEvent () {
      // Añadimos el evento al array de eventos del usuario
      this.data.find(user => user._id === this.eventModal.userId).events.push(
        {
          from: this.eventModal.day,
          to: this.eventModal.day,
          type: this.eventModal.value
        }
      )
      // Llamamos a la función que formatea los usuarios para manejarlos en la vista
      this.formatUsers()
      // Ocultamos modal
      this.showModal = false
    }
  },
  mounted () {
    // Bucle para añadir muchos elementos
    for(let i = 0; i < 500; i++) {
      let dataFormatted = data.map(user => {
        // Formateamos su id para que cada user tenga uno único. Esto no haría falta si vieniesen bien los datos
        let id = i > 0 ? data.length * i + user._id : parseInt(user._id)
        return {
          ...user,
          _id: id
        }
      })
      // Clonamos el array y lo añadimos
      this.data.push(...JSON.parse(JSON.stringify(dataFormatted)))
    }
    // Llamamos a la función que formatea los datos
    this.formatUsers()
  }
}
</script>

<style scoped lang="scss">
.header {
  display: flex;
  margin-bottom: 20px;

  &__search {
    padding: 0 20px;
  }
}
.users-wrapper {
  display: flex;
  flex-wrap: wrap;
  &__user {
    display: flex;
    border-bottom: 1px solid gray;
    height: 30px;

    &__name {
      display: inline-flex;
      align-items: center;
      width: 280px;
      text-align: left;
      padding-left: 20px;
    }
  }
}
.weekDays {
  display: flex;
  margin-left: 300px;
  &__range {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(70px * 6);
    &__month {
      flex-basis: 100%;
    }
    &__days {
      display: flex;
      &__day {
        display: inline-block;
        border: 1px solid;
        width: 60px;
        padding: 5px 0;

        &--isToday {
          background-color: lightblue;
        }
      }
    }
  }
}
.day {
  display: inline-block;
  width: 60px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 30px;
  position: relative;
  cursor: pointer;
  &--isToday {
    background-color: lightblue;
  }
  &--has-event {
    background-color: darkorange;
  }
  &__event {
    position: absolute;
    z-index: 1;
    background: black;
    color: white;
    border-radius: 3px;
    font-size: .9rem;
    padding: 3px;
    top: -27px;
    left: 0;
  }
}

.days-wrapper {
  display: flex;
}
.not-found {
  width: 300px;
  margin: 20px auto;
}
</style>
