<template>
  <div class="pagination">
    <!-- Página anterior -->
    <span
      class="previous-page"
      v-if="selectedPage !== 1"
      @click="$emit('set-page', selectedPage - 1)">Previous</span>
    <!-- Selector número de página -->
    <span
      v-for="page in pagesSelector"
      :key="page"
      class="pagination__page"
      :class="{'pagination__page--selected': page === selectedPage}"
      @click="$emit('set-page', page)">
      {{ page }}
    </span>
    <!-- Página sigiente -->
    <span
      class="next-page"
      v-if="selectedPage < pages"
      @click="$emit('set-page', selectedPage + 1)">Next</span>
  </div>
</template>

<script>
export default {
  props: {
    totalItems: {
      type: Number,
      default: 0
    },
    itemsPerPage: {
      type: Number,
      default: 0
    },
    selectedPage: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
    }
  },
  computed: {
    pages () {
      return Math.ceil(this.totalItems / this.itemsPerPage)
    },
    pagesSelector () {
      return [...Array(this.pages).keys()].slice(this.selectedPage, this.selectedPage + 5)
    }
  }
}
</script>

<style lang="scss" scoped>
.pagination {
  user-select: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;

  &__page {
    font-size: 1.2rem;
    color: gray;
    flex-basis: 30px;
    cursor: pointer;
    &--selected {
      color: blue;
    }
  }
}
.next-page, .previous-page {
  cursor: pointer;
  margin: 0 5px;
}
</style>